html {
	overflow-x:hidden;
	overflow-y:hidden;
	position:fixed;
	user-select:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

#bar {
    height:10vh;
    width: 110vw;
    background-color:#E6E6E6;
	margin-top:-2vh;
	margin-left:-10vw;
	color:#A1A1A1;
}

.select {
	padding-top:3vh;
	padding-left:10vw;
	float:left;
	user-select:none;
}

.on {
	color:black;
}